<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Register</title>
</head>
<body class="bg-gray-100">
    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-sm">
            <form class="bg-white shadow-lg rounded px-8 pt-6 pb-8" action="{{ url_for('register') }}" method="POST">
                <h2 class="text-2xl text-center mb-6 font-semibold text-gray-700">Register</h2>
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700") }}
                </div>
                <div class="mb-4">
                    {{ form.email.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700") }}
                </div>
                <div class="mb-4">
                    {{ form.full_name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.full_name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700") }}
                </div>
                <div class="mb-4">
                    {{ form.cpf.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.cpf(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700") }}
                </div>
                <div class="mb-6">
                    {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                    {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700") }}
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
